@charset "utf-8";

/*全局*/
html{
	/*position: relative;*/
	height: 100%;
}
body{
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
	font-size:62.5%;
	position: relative;
	height: 100%;
}

a:link,a:visited,a:hover,a:active{
	/*text-align: center;*/
	color: #fff;
	text-decoration: none;
}


.bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
	background: #fff none no-repeat center center;
	background-size:cover;
}

.bg_index{
	background-image:url(../images/banner/bg/img_index_1280x860.jpg);
}




.padding{

}


/* footer */
.footer{
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,0.8);
}

.footer .padding{
	padding: 0 20px;
	height: 40px;
	position: relative;
}

.footer .l{
	float: left;
}
.footer .r{
	float: right;
	text-align: right;
}

.footer .link{
	display: inline-block;
	+display: inline;
	+zoom: 1;
	height: 40px;
	padding: 0 10px;
	font-size: 1.4em;
	line-height: 40px;
	color: #bdbdbd;
}

.footer .link .icon{
	font-size: 1em;
	line-height: 1em;
}


.footer .link:hover{
	color: #fff;
}


.footer .l .link{
	border-left: 2px dotted #878787;
	height: 20px;
	line-height: 20px;
	margin: 10px 0;
}
.footer .l .link:first-child{
	border-left:none;
}
.footer .room{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 96px;
	display: inline-block;
	+display: inline;
	+zoom: 1;

	font-size: 2.4em;
	padding: 30px 80px;
}


.footer .language{
	display: inline-block;
	color: #fff;
	height: 40px;
	width: 100px;
	background: red;
	text-align: left;
}


/*
	布局
*/


/*
	元件
*/

/* 按钮 */
.u_btn{
	text-align: center;
	font-size: 1.4em;
	line-height: 1em;
	padding:10px 20px;
	background: #820404;
	background: rgba(130,4,4,.9);
}

.u_btn:hover{
	background: #820404;
	background: rgba(130,4,4,1);
}




/*
	模块
*/




/*
	功能
*/



/*
	状态
*/
























/*

	全局
	
	  	  主色
	 	  辅色 
    	高亮色
    	阴影色
    	点睛色
    	背景色

	  字体颜色 

	主标题颜色 
	副标题颜色 
	  正文颜色 bdbdbd
	
	  过渡颜色

	主标题大小 
	副标题大小 
	  正文大小 14px

	主标题行高 
	副标题行高 
	  正文行高 

		  边距
		内填充

*/


/*

布局（grid）（.g-）：
将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！

模块（module）（.m-）：
通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！

元件（unit）（.u-）：
通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！

功能（function）（.f-）：
为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！

皮肤（skin）（.s-）：
如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！

状态（.z-）：
为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{}，.m-list li.z-sel{}），具体详见命名规则的扩展相关项。


*/